body{
    height: 11.69in;
    overflow: hidden;
    width: 8.27in;
}
.main_content{
    margin-top:.2em;
    margin-left:2em;
    margin-right:2em;
    margin-bottom:0em;
}
.header_image{
    height:129px;
}
.footer_image{
    height:27px;
}
.in_words{
    margin-bottom:3em;
}
hr{
    margin:0;
    border-top:1px dotted red;
}
table.header, table.content, table.middle_table, table.signature  {
    width:100%;
    margin-bottom:.87em;
}
table.signature{
    margin-bottom:.5em;
}
table.header {
    font-size:85%;
    font-style:bold;
}
table.main td {
    padding: 0em;
    text-align: left;
}

table.content{
    font-size:85%;
}

table.middle_table{
    font:92%;
    border:1px dotted grey;
    border-spacing:-1px;
}

table.content th { width: 40%; text-align:right;padding-top:.3em;}
table.content td { width: 60%; border-bottom:1px dashed darkgrey ; padding-left:1em; padding-top:.3em; }


table.signature th { width: 50%; text-align:left; font-size:80%; font-style:normal }
table.signature td { width: 50%; text-align:center }

table.middle_table th { border:1px dotted grey; padding-top:4px; padding-bottom:5px;}
table.middle_table td { border:1px dotted grey ; text-align:center }
table td > div {
    overflow: hidden;
    height:20px;
}

table.meta th { width: 40%; text-align:right; border-bottom:1px dashed darkgrey}
table.meta td { width: 60%; border-bottom:1px dashed darkgrey ; padding-left:1em; }
/*  */
table.meta:after, table.inventory:after , table.main:after {
    clear: both;
    content: "";
    display: table;
}
.pull-right{ clear:left;display:block;float:right; text-align:center; font-size:90%; margin-top:6em; }
.pull-right strong{ font-weight:bold }
.pull-right em { font-style:italic; color:grey}
@page {
    margin:0;
}


