body{
    height: 11.69in;
    overflow: hidden;
    width: 8.27in;
    /* background-color:#000757; */
}
.main_content{
    height:744px;
    /* background-image:url('/assets/image/policy_body_welcome_letter.jpg'); */
}

table.main {
    font-size: 75%;
    table-layout: fixed;
    width: 100%;
}
table.main {
    border-spacing: 0px;
}
table.main th, table.main td {
    padding: 0em;
    text-align: left;
}
hr{
    clear:both;
    margin:0;
    border-top:1px dotted #000 !important;
}


/* table */

table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 1px; }
th, td {
    border-width: 1px;
    padding: 0.5em;
    position: relative;
    text-align: left;
}
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }


address , table.meta, table.maincontent { margin:2em 2em 0em; }
address {
    float: left;
    font-size: 110%;
    font-weight: bold;
}
table.meta {
    float: right;
    width: 36%;
}

table.meta th { width: 40%; border-bottom:1px dashed darkgrey}
table.meta td { width: 60%; border-bottom:1px dashed darkgrey ; padding-left:1em; }
table.maincontent{
    clear:both;
    float:left;
    width:100%;
}
/* table meta */

table.meta th { width: 40%; }
table.meta td { width: 60%; }

table.maincontent th { height:20px;width: 35%; text-align:right;background-color:transparent; }
table.maincontent td { width: 65%;padding-left:2em; font-size:90% }
table.meta:after, table.maincontent:after {
    clear: both;
    content: "";
    display: table;
}
table.signature {
    clear:both;
    float:right;
    width:40%;
    font-family: 'Expletus Sans', cursive;
}
table.signature strong , table.signature em{
    font-family: 'Expletus Sans', cursive;
}
table.signature td{
    text-align:center;
}
table.footer{
    clear:both;
    width:100%;
    position:fixed;
    height:60px;
    background-color:#003f8e;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
table.footer td{
    font-size:60%;
    padding-left:4em;
    color:lightgrey;
    font-style:italic;
    padding-bottom:20px;
}
.pull-right{
    text-align:center;
    font-size:90%;
}
.pull-right strong{
    font-family: 'Expletus Sans', cursive;
}
.pull-right em {
    font-family: 'Expletus Sans', cursive;
    color:grey
}

@page {
    margin:0;
}


