#main_page {
    margin-top: -20px; }
#main_page .head {
    background: url("../../img/IndexBg.png") no-repeat;
    display: block;
    padding-top: 40px;
    height: 650px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
#main_page .head .line {
    margin-left: 0; }
#main_page .text h4 {
    margin: 0 0 35px 0;
    color: #fff;
    font-size: 35px;
    font-weight: normal;
    line-height: 38px;
    text-shadow: 1px 1px 0px #2A284D; }
#main_page .text p {
    color: #fff;
    font-size: 16px;
    font-style: italic;
    line-height: 24px; }
#main_page .text p span {
    font-style: normal;
    text-transform: uppercase; }
#main_page .count {
    margin: 0;
    /* float: right;  */
}
#main_page .count .box {
    text-align: center;
    float: left;
    margin-left: 10px;
}
#main_page .count .first {
    margin: 0 0 0 90px; }
#main_page .count .circle {
    height: 98px;
    width: 98px;
    text-align: center;
    border-radius: 100%;
    margin-bottom: 8px;
    background: rgba(170, 27, 32, 0.9); }

#main_page .count a{
    color: white;
}

.fa_icon{
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
.fa_icon:hover{
    -webkit-transform: rotate(360deg) scale(1.5,1.5);
    -moz-transform: rotate(360deg) scale(1.5,1.5);
    -o-transform: rotate(360deg) scale(1.5,1.5);
    -ms-transform: rotate(360deg) scale(1.5,1.5);
    transform: rotate(360deg) scale(1.5,1.5);
}

#main_page .count .circle span {
    color: #fff;
    display: inline-block;
    font-size: 33px;
    margin-top: 36px;
    font-weight: bold; }
#main_page .count p {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 13px; }
#main_page .email_wrapp .wrapp {
    background: #fff;
    width: 98%;
    margin: 0 auto 60px;
    padding: 32px 0 21px;
    height: 103px;
    float: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 2px 1px #cecece; }
#main_page .email_wrapp .wrapp p {
    float: left;
    font-size: 17px;
    margin: 8px 0px 0px 48px; }
#main_page .email_wrapp .wrapp input[type="text"] {
    float: left;
    font-size: 16px;
    border-radius: 3px;
    height: 36px;
    margin-bottom: 0;
    width: 31.5%;
    margin-left: 25px; }
#main_page .email_wrapp .wrapp a.send {
    text-transform: uppercase;
    color: #fff;
    border: 0 none;
    box-shadow: none;
    margin: 0px 70px 0 0;
    background: #1189D9;
    font-weight: bold;
    text-shadow: none;
    padding: 8px 10px;
    font-size: 14px;
    float: right;
    -webkit-transition: background linear .2s, box-shadow linear .2s;
    -moz-transition: background linear .2s, box-shadow linear .2s;
    -o-transition: background linear .2s, box-shadow linear .2s;
    transition: background linear .2s, box-shadow linear .2s; }
#main_page .email_wrapp .wrapp a.send:hover {
    background: #252528; }
#main_page .email_wrapp .line {
    margin-left: 0; }
#main_page .social {
    text-align: center;
    margin: 0px; }
#main_page .social p {
    display: inline-block;
    font-weight: bold;
    font-size: 21px;
    margin: 0 10px 0 0;
    bottom: 9px;
    position: relative; }
#main_page .social a {
    margin-left: 10px;
    display: inline-block; }
#main_page .social a span {
    display: inline-block;
    width: 33px;
    height: 33px; }
#main_page .social a span.ico1, #main_page .social a span.ico1h {
    background-position: 0px 0px; }
#main_page .social a span.ico2, #main_page .social a span.ico2h {
    background-position: -37px 0px; }
#main_page .social a span.ico3, #main_page .social a span.ico3h {
    background-position: -75px 0px; }
#main_page .social a span.ico4, #main_page .social a span.ico4h {
    background-position: -112px -1px; }
#main_page .social a span.ico5, #main_page .social a span.ico5h {
    background-position: -151px 0px; }
#main_page .social a span.ico6, #main_page .social a span.ico6h {
    background-position: -188px -1px; }
#main_page .social a span.ico7, #main_page .social a span.ico7h {
    background-position: -226px 0px; }
#main_page .social a:hover span.icons {
    display: none; }
#main_page .social a:hover span.iconsh {
    display: inline-block; }
#main_page .social span.iconsh {
    display: none; }
#main_page .icons {
    background: url("../../img/socialicons2.png") no-repeat;
    width: 265px;
    height: 36px; }
#main_page .iconsh {
    background: url("../../img/socialicons_h.png") no-repeat;
    width: 265px;
    height: 36px; }

/* Responsive
-------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
    #main_page .head {
        padding-top: 80px;
        height: 390px; }
    #main_page .count {
        text-align: center;
        width: 37%; }
    #main_page .count .box {
        margin: 0 0 13px 0; }
    #main_page .count .first {
        margin: 0; }
    #main_page .count .circle {
        float: none;
        display: inline-block; }
    #main_page .email_wrapp .wrapp {
        text-align: center;
        height: auto;
        padding: 30px 0 30px; }
    #main_page .email_wrapp .wrapp p {
        float: none;
        margin: 0 0 19px 0; }
    #main_page .email_wrapp .wrapp input[type="text"] {
        float: none;
        width: 43%;
        margin: 0 1px 0 0;
        display: inline-block; }
    #main_page .email_wrapp .wrapp a.send {
        float: none;
        margin: 0 0 0 7px; } }
@media (max-width: 767px) {
    #main_page .head {
        text-align: center;
        background: none;
        margin-bottom: 80px;
        padding-top: 70px;
        height: auto; }
    #main_page .text {
        margin-bottom: 20px; }
    #main_page .text h4 {
        color: #333;
        text-shadow: none; }
    #main_page .text p {
        color: #333; }
    #main_page .count {
        float: none; }
    #main_page .count .pull-right {
        float: none !important; }
    #main_page .count .first {
        margin: 0; }
    #main_page .count .box {
        display: inline-block;
        float: none; }
    #main_page .count .circle {
        background: rgba(0, 0, 0, 0.8);
        width: 100px;
        height: 100px; }
    #main_page .count .circle span {
        font-size: 35px;
        margin-top: 39px; }
    #main_page .count p {
        color: #333; }
    #main_page .email_wrapp .wrapp {
        background: transparent;
        box-shadow: none;
        padding: 0;
        width: 100%;
        margin: 0 auto; }
    #main_page .email_wrapp .wrapp p {
        float: none;
        margin: 0 0 20px 0; }
    #main_page .email_wrapp .wrapp input[type="text"] {
        float: left;
        width: 77%;
        margin-left: 0; }
    #main_page .email_wrapp .wrapp a.send {
        float: left;
        margin-left: 22px;
        margin-right: 0; } }
@media (max-width: 480px) {
    #main_page .count .circle {
        height: 73px;
        width: 73px; }
    #main_page .count .circle span {
        margin-top: 26px;
        font-size: 30px; }
    #main_page .email_wrapp .wrapp input[type="text"] {
        width: 70%; }
    #main_page .social p {
        display: block;
        margin: 16px 0 3px 0; }
    #main_page .social a {
        margin-left: 0px; } }
